   {% load static %}

                <div class="mb-4">
                    <h5>Recent Posts</h5>

                    <ul class="list-unstyled list-articles">
                        {% for latest_post in latest_posts %}
                        <li class="row row-tight">
                            <a href="{% url 'blog:post_list' %}{{ latest_post.slug }}" class="col-3">
                            <img src="{{ latest_post.header_image.url }}" alt="{{ latest_post.header_image_alt.url }}"
                                 class="rounded">
                            </a>
                            <div class="col">
                                <a href="{% url 'blog:post_list' %}{{ latest_post.slug }}">
                                    <h6 class="mb-1">{{ latest_post.title }}</h6>
                                </a>
                                <div class="d-flex text-small">
<!--                                    <a href="{% url 'blog:category' latest_post.category.slug  %}">-->
<!--                                            {{ latest_post.category.name }}</a>-->
                                    <span class="text-muted ml-1">{{ latest_post.published_date|date:'M d, Y' }}</span>
                                </div>
                            </div>
                        </li>
                       {% endfor %}
                    </ul>
                </div>