   {% load static %}

                <div class="mb-4">
                    <h5>Popular</h5>
                    <ul class="list-unstyled list-articles">
                        <li class="row row-tight">
                            <a href="#" class="col-3">
                                <img src="{% static 'theme/article-1.jpg' %}" alt="Image" class="rounded">
                            </a>
                            <div class="col">
                                <a href="#">
                                    <h6 class="mb-1">How to build collateral</h6>
                                </a>
                                <div class="d-flex text-small">
                                    <a href="#">Business</a>
                                    <span class="text-muted ml-1">29th November</span>
                                </div>
                            </div>
                        </li>
                        <li class="row row-tight">
                            <a href="#" class="col-3">
                                <img src="{% static 'theme/article-2.jpg' %}" alt="Image" class="rounded">
                            </a>
                            <div class="col">
                                <a href="#">
                                    <h6 class="mb-1">Forging your path</h6>
                                </a>
                                <div class="d-flex text-small">
                                    <a href="#">Design</a>
                                    <span class="text-muted ml-1">27th November</span>
                                </div>
                            </div>
                        </li>
                        <li class="row row-tight">
                            <a href="#" class="col-3">
                                <img src="{% static 'theme/article-3.jpg' %}" alt="Image" class="rounded">
                            </a>
                            <div class="col">
                                <a href="#">
                                    <h6 class="mb-1">Securing your Series A</h6>
                                </a>
                                <div class="d-flex text-small">
                                    <a href="#">Business</a>
                                    <span class="text-muted ml-1">23rd November</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>